.show1 { animation-delay: 0s; }
.show2 { animation-delay: 0.2s; }
.show3 { animation-delay: 0.4s; }
.show4 { animation-delay: 0.6s; }
.show5 { animation-delay: 0.8s; }
.show6 { animation-delay: 1.0s; }
.show7 { animation-delay: 1.2s; }
.show8 { animation-delay: 1.4s; }
.show9 { animation-delay: 1.6s; }
.show10 { animation-delay: 1.8s; }