.show1 { animation-delay: 0s; }
.show2 { animation-delay: 0.2s; }
.show3 { animation-delay: 0.4s; }

.info-d:hover .hover { opacity: 1; cursor: pointer; }
.info-d:hover .default {  opacity: 0;  }

.info-d { width: 25%; }

@media screen and (max-width: 900px) {
    .info-d { width: 55%; }
    .info { width: 100%; display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(2, auto); }
}

@media screen and (max-width:600px) {
    .info-d { width: 100%; }
}